<div class="container">
<div class="row">
  <table [formGroup]="hotelForm" >
    <tr>
      <td>Tên trường:</td>
      <td><input type="text" formControlName="name" placeholder="Tên trường" class="form-control"></td>
      <label *ngIf="schoolname" class="text-danger"> {{schoolname}} </label>
    </tr>
    <tr>
      <td>Logo trường:</td>
      <td><input type="text" formControlName="logo" placeholder="Logo trường" class="form-control"></td>
      <label *ngIf="schoollogo" class="text-danger"> {{schoollogo}} </label>
    </tr>
    <tr>
      <td>Địa chỉ:</td>
      <td><input type="text" formControlName="address" placeholder="Địa chỉ" class="form-control"></td>
      <label *ngIf="schooladdress" class="text-danger"> {{schooladdress}} </label>
    </tr>
    <tr>
      <td>Tên hiệu trưởng:</td>
      <td><input type="text" formControlName="president" placeholder="Tên hiệu trưởng" class="form-control"></td>
      <label *ngIf="schoolpresident" class="text-danger"> {{schoolpresident}} </label>
    </tr>
    <tr>
      <td>Tỉnh/thành phố:</td>
      <td><input type="text" formControlName="province" placeholder="Tỉnh/thành phố" class="form-control"></td>
      <label *ngIf="schoolprovince" class="text-danger"> {{schoolprovince}} </label>
    </tr>
  </table>
  <div class="imga" [formGroup]="hotelForm">
    <img width="250" [src]="hotelForm.value.logo" class="img-fluid"/>
  </div>
</div>
<br>
<div class="btttn">
  <button (click)="saveHotel()" class="btn btn-sm btn-success" [disabled]="!hotelForm.valid">Lưu</button>&nbsp;&nbsp;
  <button (click)="canelSchools()" class="btn btn-sm btn-success">Làm mới</button>
</div>
</div>
<br>