.row1{
  margin-left: 360px;
}
table, td, th {
  border: 0.1px solid green;
	border-collapse: collapse;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20PX;
  height: 50px;
}
.cuon{
  border:5px solid #00ff00;
  margin-bottom:30px;
  overflow:auto;
  margin-left: 350px;
}
#test_1{
  width:800px;height:300px;
}
button {
	width: 90px;
  height: 35px;
	border-radius: 10px;
	padding: 5px;
	outline: none;
	box-shadow: inset 0px 0px 20px gray;
}
.slg{
  text-align: center;
}
.imga{
  height: 250px;
  margin-left: 130px;
}
.btttn{
  margin-left: 80px;
}
.table2{
  margin: 0px auto;
  margin-left: 550px;
}
.timkiem{
  margin-left: 550px;
  width: 300px;
  height: 40px;
	border-radius: 10px;
}