<input id="myInput" class="timkiem" type="text"  placeholder=" Tìm kiếm..."/>&nbsp;<button (click)="myFunction()"lass="bttk">Tìm kiếm</button>&nbsp;
<button data-toggle="modal"data-target="#exampleModal" class="bttk">Thêm</button>&nbsp;
<button [routerLink]="['../../edit-hotel', hotelData.id]"  class="bttk">Sửa</button>
<div class="container">
  <div class="row">
  <div class="col-12 d-flex justify-content-center mt-5">
      <div class="card mb-3 col-md-6">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="hotelData.logo" class="card-img py-3" [alt]="hotelData.logo" >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">{{hotelData.name}}</h4>
              <h5 class="card-text">Địa chỉ: <span class="font-weight-normal">{{hotelData.address}}</span></h5>
              <h5 class="card-text">Tên hiệu trưởng: <span class="font-weight-normal">{{hotelData.president}}</span></h5>
              <h5 class="card-text">Tỉnh/thành phố: <span class="font-weight-normal">{{hotelData.province}}</span></h5>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<br>
<div class="cuon" id="test_1" >
  <table border="1" align="center" id="myTable">
  <tr>
    <th width="600">Danh sách các lớp trong trường</th>
    <th width="200">Action</th>
  </tr>
  <tr *ngFor="let class of classs">
    <td>{{class.name}}</td>
    <td>&nbsp;
      <input (click)="editStudent(class)" class="btn btn-sm btn-info" type="button"value="Edit" 
      data-toggle="modal" data-target="#exampleModal" />&nbsp;
      <input (click)="removeClass(class)"  class="btn btn-sm btn-danger" type="button" value="Delete"/>
    </td>
  </tr></table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header border-bottom" style="border-bottom-width: 0px;">
				<h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết</h5>
				<a type="button" class="close" id="close" (click)="canelClass();" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></a>
			</div>
			<div class="modal-body">
				<form [formGroup] = "classForm">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="">Chuyên ngành</label>
							<input type="text" class="form-control" placeholder="Chuyên ngành" formControlName="name">
							<label *ngIf="classname" class="text-danger"> {{classname}} </label>
            </div>
					  <div class="form-group col-md-6">
								<label for="">Tên lớp</label>
								<input type="text" class="form-control" placeholder="Tên lớp" formControlName="room_number">
                <label *ngIf="classroom_number" class="text-danger"> {{classroom_number}} </label>
            </div>
					</div>
					<div class="form-group mt-2">
								<label for="">Số học sinh</label>
								<input type="text" class="form-control" placeholder="Số học sinh" formControlName="total_student">
                <label *ngIf="classtotal_student" class="text-danger"> {{classtotal_student}} </label>
          </div>
					<div class="form-row">
						<div class="form-group col-md-8">
							<label for="">Giáo viên chủ nhiệm</label>
							<input type="text" class="form-control" placeholder="Giáo viên chủ nhiệm" formControlName="main_teacher">
							<label *ngIf="classmain_teacher" class="text-danger"> {{classmain_teacher}} </label>
            </div>
						<div class="form-group col-md-4">
							<label for="">ID trường</label>
							<input type="text" class="form-control" placeholder="ID trường" formControlName="hotetelId">
							<label *ngIf="classschoolId" class="text-danger"> {{classschoolId}} </label>
            </div>
            <div class="form-group col-md-4">
							<label for="">ID trường</label>
            </div>
				</div>
				</form>
			</div>
			<div class="modal-footer justify-content-center" style="border-top-width: 0px;">
        <button type="button" class="btn btn-primary" (click)="saveClass();" data-dismiss="modal" [disabled]="!classForm.valid">Lưu</button>
			</div>
		</div>
	</div>
</div>